---
layout: base.njk
title: About
---

<main>
  <article class="card">
    <header>
      <Image src="/images/IMG_1364.jpeg" alt="" width="200" height="200" />
      <div>
        <h1><a href="/">Aren Liore</a></h1>
        <p>26 &middot; He/Him &middot; Pan</p>
      </div>
    </header>
    <section>
    <h2 style="text-align: center">Switch friend code</h2>
    <p style="text-align: center"><code>SW-5044-1848-2024</code></p>
    </section>
  </article>
</main>
